body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: var(--tg-theme-bg-color, #ffffff);
    color: var(--tg-theme-text-color, #000000);
}

.navbar {
    text-align: center;
    margin-bottom: 20px;
}

.navbar button {
    background-color: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.navbar button:hover {
    background-color: var(--tg-theme-button-color-hover, #005f99);
}

.catalog {
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalog.active {
    display: flex;
}

.product {
    text-align: center;
    margin: 10px;
}

.product-image {
    width: 100%;
    max-width: 200px; /* You can adjust this value as needed */
    transition: transform 0.3s;
}

.product-image:hover {
    transform: scale(1.05);
}

.pay-button {
    background-color: var(--tg-theme-button-color, #0088cc);
    color: var(--tg-theme-button-text-color, #ffffff);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.pay-button:hover {
    background-color: var(--tg-theme-button-color-hover, #005f99);
}
